<ActionBar class="action-bar">
    <StatusBarStyle></StatusBarStyle>

    <NavigationButton class="nav-btn" text="back" icon="res://ic_chevron_left"
                      (tap)="routerExtensions.back()"></NavigationButton>

    <StackLayout verticalAlign="center" horizontalAlign="center" alignItems="center" justifyContent="center"
                 width="100%">
        <Label class="painting-title-name" textWrap="true" [text]="'AddPost' | L"></Label>
        <Label class="painting-title-author" [text]="painting.name"></Label>
    </StackLayout>

    <ActionItem class="action-item" android.position="actionBar" icon="res://search"
                [visibility]="!postSaved && showSearch ? 'visible':'collapse'"
                id="homeMapToggleSearchButton"></ActionItem>

    <!--<ActionItem class="action-item" android.position="actionBar" icon="res://ic_delete_white_18dp"-->
    <!--[visibility]="postSaved ? 'visible':'collapse'"-->
    <!--(tap)="delete()"></ActionItem>-->
</ActionBar>

<GridLayout rows="*,60" [visibility]="!inProgress && postSaved ? 'visible':'collapse'">
    <!-- After Add Post Preview-->
    <StackLayout row="0" backgroundColor="white">
        <ScrollView (loaded)="onPreviewScrollViewLoaded($event)">
            <StackLayout class="post-item {{ post.resolved == 'true' ? 'post-resolved' : ''}}">
                <Image stretch="aspectFit" [src]="post.tn || 'res://placeholder'"></Image>
                <FlexboxLayout class="post-item__text post-item" col="1" padding="0">
                    <Label class="post-item__name"
                           [text]="post.userName + (post.created ? ',  ' + post.created : '')"></Label>
                    <Label class="post-item__desc" [text]="post.text || ('WasHere'|L)" textWrap="true"></Label>
                </FlexboxLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <StackLayout row="1" verticalAlignment="bottom" backgroundColor="#2c2b30">
        <FlexboxLayout>

            <StackLayout (tap)="routerExtensions.back()" class="add-post__back-button">
                <Image src="res://ic_chevron_left"></Image><!--<Label [text]="('Share')|L"></Label>-->
            </StackLayout>

            <StackLayout (tap)="share()" class="add-post__share-button">
                <Image src="res://ic_share_variant_white_24dp"></Image><!--<Label [text]="('Share')|L"></Label>-->
            </StackLayout>

        </FlexboxLayout>
    </StackLayout>
</GridLayout>

<ActivityIndicator class="activity-indicator" [busy]="inProgress"></ActivityIndicator>

<GridLayout rows="*, 60" columns="*" [visibility]="!inProgress && !postSaved ? 'visible':'collapse'">

    <TabView #postTabs class="tab-view" row="0"
             (selectedIndexChange)="onTabSelected($event)">
        <GridLayout rows="auto, *" columns="*" *tabItem="{iconSource:'res://ic_textbox_white_24dp'}">
            <StackLayout>
                <TextView #postText editable="true" [text]="text" [hint]="('IWasHere' | L)+'\n\n\n\n\n'" minHeight="150"
                          backgroundColor="#ededed"></TextView>
            </StackLayout>
        </GridLayout>
        <AbsoluteLayout *tabItem="{iconSource:'res://ic_map_white_24dp'}">
            <MapSearch [mapView]="mapView"></MapSearch>
            <GridLayout rows="*" columns="*" left="0" top="0" width="100%" height="100%">
                <MapView #addPostMapView [latitude]="lat" [longitude]="lat" [zoom]="zoom" bearing="0" tilt="0"
                         i-padding="50,50,50,50"
                         padding="10,142,5,5"
                         (mapReady)="onMapReady($event)"
                         (markerSelect)="onMarkerEvent($event)"></MapView>
            </GridLayout>
            <FlexboxLayout left="0" top="0" width="100%" height="100%" alignItems="center" justifyContent="center">
                <Image src="res://ic_filter_tilt_shift" width="32" height="32" translateY="-19.5"></Image>
            </FlexboxLayout>

            <StackLayout top="0" left="0" width="100%" height="100%" orientation="vertical" verticalAlignment="bottom"
                         padding="0 5 3">
                <FlexboxLayout class="selected-painting" (tap)="addMarker()" justifyContent="space-between"
                               height="52"
                               borderRadius="3">
                    <Image class="selected-painting__icon-close" src="res://close" (tap)="clearMarker()"
                           visibility="{{ this.marker ? 'visible' : 'hidden' }}"></Image>
                    <Label class="selected-painting__label" text="{{ 'AddMarker' | L }}" color="white"></Label>
                    <Image class="selected-painting__icon-right" src="res://add_location"></Image>
                </FlexboxLayout>
            </StackLayout>
        </AbsoluteLayout>

        <StackLayout *tabItem="{iconSource:'res://ic_image_white_24dp'}">
            <ScrollView
                    (loaded)="onScrollViewLoaded($event)"
            >
                <StackLayout borderBottomWidth="1" borderColor="#2c2b30">

                    <StackLayout orientation="horizontal" horizontalAlignment="center">
                        <StackLayout (tap)="clearImg()" class="add-post__img-btn"
                                     [visibility]="this.imgData ? 'visible':'collapse'">
                            <Image src="res://close"></Image>
                        </StackLayout>
                        <StackLayout (tap)="takeImg()" class="add-post__img-btn">
                            <Image src="res://photo"></Image>
                        </StackLayout>
                        <StackLayout (tap)="pickImg()" class="add-post__img-btn">
                            <Image src="res://gallery"></Image>
                        </StackLayout>
                    </StackLayout>

                    <StackLayout borderTopWidth="1" borderColor="#2c2b30">
                        <Image #postImage src="res://placeholder"></Image>
                    </StackLayout>

                </StackLayout>
            </ScrollView>
        </StackLayout>
    </TabView>

    <StackLayout row="1" orientation="vertical" verticalAlignment="bottom" backgroundColor="#26262a">
        <Button [text]="(inProgress? 'InProgress':'Save')|L"
                (tap)="savePost()"
                class="add-post-button"
                backgroundColor="#e43a3a"
                color="white"
                height="60"></Button>
    </StackLayout>
</GridLayout>
