<ActionBar class="action-bar">
    <StatusBarStyle></StatusBarStyle>

    <NavigationButton class="nav-btn" text="back" icon="res://ic_chevron_left"
                      (tap)="routerExtensions.back()"></NavigationButton>

    <StackLayout verticalAlign="center" horizontalAlign="center" alignItems="center" justifyContent="center"
                 width="100%">
        <Label class="painting-title-name" textWrap="true" [text]="'Filter' | L"></Label>
    </StackLayout>


    <ActionItem android.position="popup" [text]="'RemoveFilter'|L" (tap)="removeFilters()"></ActionItem>

</ActionBar>

<StackLayout class="filter-page">
    <ScrollView>

        <StackLayout>

            <StackLayout class="filter-section search-section">
                <Label [text]="('SearchByAddress'|L) + ':'" class="filter-label search-label h3"></Label>

                <!--SEARCH ADDRESS-->
                <FlexboxLayout width="100%" class="search-widget__inner">
                    <TextField #searchInput id="searchInput" class="search-widget__input" [hint]="'EnterAddress'|L"
                               (textChange)="search($event)"></TextField>
                    <Image class="search-widget__button" src="res://close" (tap)="clearSearch()"></Image>
                    <Image class="search-widget__button" src="res://search" (tap)="search()"></Image>
                </FlexboxLayout>
                <FlexboxLayout width="100%" class="search-widget__inner"
                               [visibility]="filterOptions.address?'visible':'collapse'">
                    <Label [text]="filterOptions.address" color="#ffffff" paddingLeft="5"></Label>
                    <Image class="search-widget__button" src="res://close" (tap)="clearAddress()"></Image>
                </FlexboxLayout>
                <StackLayout #searchResult id="searchResult" class="search-widget__result"
                             visibility="{{ searchItems.length ? 'visible':'collapse'}}">
                    <StackLayout class="search-widget__result-item" *ngFor="let item of searchItems"
                                 (tap)="resultClick(item)">
                        <Label class="search-widget__result-item-text" [text]="item.description"></Label>
                    </StackLayout>
                </StackLayout>

            </StackLayout>

            <StackLayout class="filter-section">
                <!-- RESOLVED -->
                <Label text="{{'Resolved'|L}}:" class="filter-label h3"></Label>
                <ListPicker [items]="resolvedOptions" [selectedIndex]="resIndex" #resolvedPicker></ListPicker>
            </StackLayout>

            <StackLayout class="filter-section">
                <Label text="{{'Institution'|L}}:" class="filter-label h3"></Label>
                <ListPicker [items]="institutions" #institutionPicker [selectedIndex]="instIndex"></ListPicker>
            </StackLayout>


            <Button class="btn-active" [text]="'Back'|L"
                              (tap)="routerExtensions.back()"></Button>

        </StackLayout>

    </ScrollView>

</StackLayout>
