<ActionBar class="action-bar">
    <StatusBarStyle></StatusBarStyle>

    <Image src="~/assets/img/logo.png" class="action-logo"></Image>

    <ActionItem visibility="{{selectedIndex==0?'visible':'collapsed'}}" class="action-item" android.position="actionBar" icon="res://filter" id="homeListFilterButton" ></ActionItem>
    <ActionItem visibility="{{selectedIndex==1?'visible':'collapsed'}}" class="action-item" android.position="actionBar" icon="res://search" id="homeMapToggleSearchButton" ></ActionItem>
    <ActionItem visibility="{{selectedIndex==2?'visible':'collapsed'}}" android.position="popup" [text]="'Logout'|L" id="homeProfileLogoutButton" ></ActionItem>
</ActionBar>

<GridLayout rows="*, auto" columns="*" class="home-screen">
    <TabView #homeTabView row="0" width="100%"
             selectedIndex="1"
             (selectedIndexChange)="indexChanged($event)"
             (loaded)="tabsLoaded($event)" >
        <StackLayout *tabItem="{title:''}" #homeList    ><HomeList></HomeList></StackLayout>
        <StackLayout *tabItem="{title:''}" #homeMap     ><HomeMap></HomeMap></StackLayout>
        <StackLayout *tabItem="{title:''}" #homeProfile ><HomeProfile></HomeProfile></StackLayout>
    </TabView>

    <BottomBar row="1"
               [items]="bottomItems"
               (tabSelected)="bottomBarSelected($event)"
               (loaded)="bottomBarLoaded($event)"
               [titleState]="titleState"
               [inactiveColor]="inactiveColor"
               [accentColor]="accentColor"
               colored="true"></BottomBar>
</GridLayout>
