<ActionBar class="action-bar">
    <StatusBarStyle></StatusBarStyle>

    <NavigationButton class="nav-btn" text="back" icon="res://ic_chevron_left"
                      (tap)="routerExtensions.back()"></NavigationButton>

    <StackLayout verticalAlign="center" horizontalAlign="center" alignItems="center" justifyContent="center"
                 width="100%">
        <Label class="painting-title-name" textWrap="true" [text]="painting.name"></Label>
        <Label class="painting-title-author" [text]="painting.authorName"></Label>
    </StackLayout>

    <ActionItem class="action-item" icon="res://ic_share_variant_white_24dp" (tap)="sharePainting()"></ActionItem>

    <!--<ActionItem class="action-item" icon="res://add_location" (tap)="addPost()"></ActionItem>-->

</ActionBar>

<GridLayout rows="*">
    <TabView #paintingTabs class="tab-view" [selectedIndex]="selectedIndex" row="0">
        <StackLayout *tabItem="{iconSource:'res://ic_image_white_24dp'}">
            <ScrollView class="page" #scrollView (scroll)="onInfoScroll($event, scrollView, topView)"
                        (loaded)="onScrollViewLoaded($event)"
            >
                <StackLayout>
                    <StackLayout #topView (tap)="onPostItemTap()">
                        <GridLayout rows="*">
                            <Image #paintingImage stretch="aspectFit" row="0" width="100%"
                                   [src]="painting.img || 'res://placeholder'"></Image>
                            <!--<ActivityIndicator class="activity-indicator" [busy]="!painting.img" row="0"></ActivityIndicator>-->
                        </GridLayout>
                    </StackLayout>
                    <StackLayout width="100%" backgroundColor="white" paddingBottom="80">

                        <FlexboxLayout justifyContent="space-between">
                            <Label [text]="(painting.resolved && painting.resolved!='false'?'ResolvedLabel':'NotResolvedLabel')|L"
                                   [class]="painting.resolved && painting.resolved!='false'?'resolved-label':'not-resolved-label'"></Label>
                            <Label [text]="painting.institutionName" class="institution-label"
                                   [visibility]="painting.institutionName ? 'visible':'collapse'"></Label>
                        </FlexboxLayout>

                        <Label textWrap="true" class="painting-created-label"
                               [text]="('PaintingCreated'|L) + ' ' + painting.paintingCreated"
                               [visibility]="painting.paintingCreated ? 'visible':'collapse'"></Label>

                        <Label [visibility]="painting.perex ? 'visible':'collapse'"
                               textWrap="true" class="painting-perex"
                               [text]="painting.perex"></Label>

                        <Label textWrap="true"
                               class="painting-text"
                               [text]="painting.description"></Label>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </StackLayout>

        <AbsoluteLayout *tabItem="{iconSource:'res://ic_map_white_24dp'}" width="100%" height="100%">
            <StackLayout top="0" left="0" width="100%" height="100%">
                <GridLayout rows="*, auto" columns="*">
                    <MapView #paintingDetailMapView [latitude]="lat" [longitude]="lat" [zoom]="zoom" bearing="0"
                             tilt="0"
                             i-padding="50,50,50,50"
                             padding="10,140,5,5"
                             (mapReady)="onMapReady($event)"></MapView>
                </GridLayout>
            </StackLayout>
            <!--selected -->
            <!-- <StackLayout top="0" left="0" width="100%" height="100%" orientation="vertical" verticalAlignment="bottom">
                <FlexboxLayout class="selected-painting" (tap)="recenter()" justifyContent="center">
                    <Label class="selected-painting__label" text="{{ 'Recenter' | L }}"></Label>
                </FlexboxLayout>
            </StackLayout> -->
        </AbsoluteLayout>

        <StackLayout *tabItem="{iconSource:'res://ic_comment_text_multiple_white_24dp'}">
            <GridLayout rows="auto, *" columns="*">
                <ActivityIndicator class="activity-indicator" [busy]="loadingPosts && (!posts || !posts.length)"
                                   row="1"></ActivityIndicator>

                <ListView row="1" [items]="posts" (itemTap)="onPostItemTap($event)" separatorColor="#2c2b30"
                          <!--(loaded)="onListViewLoaded($event)"-->
                >
                    <ng-template let-item="item" let-odd="odd">
                        <PostItem [post]="item" [odd]="odd"></PostItem>
                    </ng-template>
                </ListView>

                <Label row="1" [visibility]="!loadingPosts && (!posts || !posts.length) ? 'visible':'collapse' "
                       [text]="'NoPostsPainting'|L"
                       textAlignment="center"></Label>
            </GridLayout>
        </StackLayout>
    </TabView>

    <FAB row="0" (tap)="addPost()" icon="res://add_location" rippleColor="#f1f1f1" class="fab-button"></FAB>
</GridLayout>
