<ActionBar class="action-bar">
    <StatusBarStyle></StatusBarStyle>

    <NavigationButton class="nav-btn" text="back" icon="res://ic_chevron_left"
                      (tap)="routerExtensions.back()"></NavigationButton>

    <StackLayout verticalAlign="center" horizontalAlign="center" alignItems="center" justifyContent="center"
                 width="100%">
        <Label class="painting-title-name" [text]="(register ? 'Registration' : 'Login')|L"></Label>
    </StackLayout>
</ActionBar>

<GridLayout rows="*">
    <StackLayout horizontalAlignment="stretch" verticalAlignment="center" row="0">
        <Image [src]="register ? 'res://add_person' : 'res://person_img'" width="100" stretch="aspectFit"></Image>

        <Label textWrap="true" class="error" [text]="error"></Label>

        <TextField #username
                   [visibility]="register ? 'visible' : 'collapse'"
                   class="input-field"
                   [hint]="'Username'|L"></TextField>

        <TextField #email
                   class="input-field"
                   [hint]="'Email'|L"></TextField>

        <TextField #password
                   class="input-field register-password-field"
                   secure="true"
                   [hint]="'Password'|L"></TextField>
        <TextField #passwordRepeat
                   [visibility]="register ? 'visible' : 'collapse'"
                   class="input-field register-repeat-field"
                   secure="true"
                   [hint]="'PasswordAgain'|L"></TextField>

        <Button [visibility]="register ?  'collapse':'visible'" class="register-button"
                (tap)="setShowRegistration(true)"
                [text]="'Registration'|L"></Button>

        <Button [visibility]="register ? 'visible':'collapse'" (tap)="setShowRegistration(false)"
                class="register-button" [text]="'LoginForm'|L"></Button>

        <Button (tap)="submit()" backgroundColor="#e43a3a" color="white" height="60"
                [text]="(inProgress ? 'InProgress': (register ? 'Register': 'Login')) |L"></Button>

    </StackLayout>
    <ActivityIndicator row="0" [busy]="inProgress" class="activity-indicator"></ActivityIndicator>
</GridLayout>
