@import 'nativescript-theme-core/css/core.light.css';

$highlight: #FF4545;
$highlight-bg: #e43a3a;
$dark: #2c2b30;
$white: #ffffff;
$black: #000000;
$dark-transparent: rgba(43, 43, 48, 0.7);
$light-grey: #ededed;
$grey: #c0c0d6;

$resolved-clr: #1feb3d;
$resolved-clr-bg: #20c843;

.red {
  color: $highlight;
}

.dark {
  color: $dark;
}

.action-bar {
  position: relative;
  transculent: false;
  background-color: $dark;
  color: $white;
  padding: 0;
  border-width: 1;
  border-color: transparent;
}

.action-item,
.action-item-text {
  color: $white;
}

.action-logo {
  height: 30;
  vertical-align: center;
}

.navigation-button {
  height: 12;
}

/* home */
.bottom-button {
  height: 32;
}

.home-screen {
  background-color: $dark;
}

/* homeMap */
.selected-painting {
  padding: 6 10;
  background-color: $dark-transparent;
  align-items: center;
  width: 100%;
  height: 80;
}

.add-post__back-button,
.add-post__share-button {
  border-radius: 3;
  padding: 0;
  margin: 6;
  background-color: $highlight;
  align-items: center;
  height: 48;
  width: 100%;
  vertical-align: center;
  horizontal-align: center;
  orientation: horizontal;
  Image {
    height: 24;
    stretch: aspectFit;
  }
}
.add-post__back-button {
  margin-right: 3
}

.add-post__share-button {
  margin-left: 3
}

.add-post__back-button Image {
  height: 42;
}

.selected-painting__label {
  vertical-align: center;
  padding-left: 6;
  Label {
    padding-top: 0;
    padding-left: 0;
  }
}

.selected-painting__center {
  orientation: horizontal;
  vertical-align: center;
  horizontal-align: center;
  Image {
    stretch: aspectFit;
    height: 68;
  }
}

.selected-painting__info,
.selected-painting__name {
  color: $white;
  text-align: left;
}

.selected-painting__info {
  color: $light-grey;
}

.selected-painting__name {
  font-weight: bold;
}

.selected-painting__icon-close {
  height: 40;
}

.selected-painting__icon-right {
  height: 34;
}

/* searchWidget */
.search-widget {
  z-index: 1000;
  padding: 10;
  transform: translate(0, -60)
}

.search-widget__inner {
  background-color: $dark-transparent;
  padding: 2 8;
  justify-content: space-between;
}

.search-widget__input {
  background-color: transparent;
  color: $white;
  placeholder-color: $grey;
  flex-grow: 1;
}

.search-widget__button {
  height: 32;
}

.search-widget__result {
  background-color: $dark;
}

.search-widget__result-item {
  padding: 0 10;
  width: 100%;
  background-color: $dark;
  color: $white;
  border-bottom-width: 1;
  border-color: $black;
  vertical-align: center;
  align-items: center;
  height: 42;
}

/* paintingDetail */
.nav-btn {
  height: 15;
}

.tab-view {
  tab-text-color: $white;
  selected-tab-text-color: $highlight;
  tab-background-color: $dark;
  android-selected-tab-highlight-color: $highlight;
  font-weight: normal;
  text-transform: none;
}

.painting-title-name, .painting-title-author {
  text-align: center;
  font-size: 16
}

.painting-title-author {
  padding-top: 1;
  font-size: 13
}

.fab-button {
  height: 60;
  width: 60;
  margin: 15;
  background-color: $highlight-bg;
  horizontal-align: right;
  vertical-align: bottom;
}

.post-item__name, .post-item__desc {
  width: 100%;
  padding: 5;
}

.post-item__name {
  padding-left: 0;
}

.post-item {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
}

.image-view {
  background-color: $black;
}

.painting-item {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: column;
}

TextField {
  background-color: $light-grey;
}

.post-item__desc {
  color: $dark;
}

.post-item__text {
  border-top-width: 1;
  border-top-color: $highlight;
}

.painting-item__text {
  border-top-color: $highlight;
  border-top-width: 2;
}

.painting-item__text-bg {
  background-color: $dark-transparent;
}

.painting-item__name {
  font-weight: bold;
  padding: 5;
  padding-right: 0;
}

.painting-item__info {
  padding: 5;
  padding-left: 0;
}

.painting-item__name,
.painting-item__info {
  color: $white;
}

.post-resolved .post-item__text,
.painting-resolved .painting-item__text {
  border-top-color: $resolved-clr;
}

//.painting-resolved .painting-item__name {
//  color: $resolved-clr-bg;
//}

.register-button {
  background-color: $light-grey;
  color: $grey;
  border-color: $light-grey;
  border-width: 1;
  margin: 15 5 45;
  padding-top: 0;
  padding-bottom: 0;
  height: 40;
}

.input-field {
  border-color: $highlight-bg;
  border-width: 1;
  margin-top: 15;
  margin-left: 5;
  margin-right: 5;
  background-color: $white;
}

.submit-button {
  margin-left: 5;
  margin-right: 5;
}

.profile__info {
  border-bottom-color: $dark;
  border-bottom-width: 1;
}

Button {
  /** ALL CAPS **/
  /*text-transform: none;*/
}

TabViewItem {
  /*text-transform: none;*/
}

.add-post__img-btn {
  width: 60;
  max-width: 33%;
  padding: 6;
  margin: 10 5;
  border-radius: 3;
  background-color: $dark-transparent;
}

.filter-section {
  border-top-color: $dark;
  border-top-width: 1;
  padding-top: 15;
  padding-bottom: 15;
}

.search-section {
  padding: 15;
}

.filter-label {
  color: $highlight;
  text-align: center;
  padding-top: 10;
}

.search-label {
  padding-top: 0;
  padding-bottom: 15;
}

.not-resolved-label {
  color: $highlight;
  padding: 10;
  padding-bottom: 0;
}

.resolved-label {
  color: $resolved-clr-bg;
  padding: 10;
  padding-bottom: 0;
}

.institution-label, .painting-created-label {
  padding: 10;
  padding-bottom: 0;
}

.painting-text, .painting-perex {
  color: $black;
  padding-left: 10;
  padding-right: 10;
  padding-top: 10;
}

.painting-text {
  padding-bottom: 10;
}

.activity-indicator, activity-indicator, ActivityIndicator {
  color: $highlight;
  width: 60;
  height: 60;
  max-width: 60;
  max-height: 60;
  z-index: 1000;
}