@import 'nativescript-theme-core/css/core.light.css';
.red {
  color: #FF4545;
}

.dark {
  color: #2c2b30;
}

.action-bar {
  position: relative;
  transculent: false;
  background-color: #2c2b30;
  color: #ffffff;
  padding: 0;
  border-width: 1;
  border-color: transparent;
}

.action-item,
.action-item-text {
  color: #ffffff;
}

.action-logo {
  height: 30;
  vertical-align: center;
}

.navigation-button {
  height: 12;
}

/* home */
.bottom-button {
  height: 32;
}

.home-screen {
  background-color: #2c2b30;
}

/* homeMap */
.selected-painting {
  padding: 6 10;
  background-color: rgba(43, 43, 48, 0.7);
  align-items: center;
  width: 100%;
  height: 80;
}

.add-post__back-button,
.add-post__share-button {
  border-radius: 3;
  padding: 0;
  margin: 6;
  background-color: #FF4545;
  align-items: center;
  height: 48;
  width: 100%;
  vertical-align: center;
  horizontal-align: center;
  orientation: horizontal;
}
.add-post__back-button Image,
.add-post__share-button Image {
  height: 24;
  stretch: aspectFit;
}

.add-post__back-button {
  margin-right: 3;
}

.add-post__share-button {
  margin-left: 3;
}

.add-post__back-button Image {
  height: 42;
}

.selected-painting__label {
  vertical-align: center;
  padding-left: 6;
}
.selected-painting__label Label {
  padding-top: 0;
  padding-left: 0;
}

.selected-painting__center {
  orientation: horizontal;
  vertical-align: center;
  horizontal-align: center;
}
.selected-painting__center Image {
  stretch: aspectFit;
  height: 68;
}

.selected-painting__info,
.selected-painting__name {
  color: #ffffff;
  text-align: left;
}

.selected-painting__info {
  color: #ededed;
}

.selected-painting__name {
  font-weight: bold;
}

.selected-painting__icon-close {
  height: 40;
}

.selected-painting__icon-right {
  height: 34;
}

/* searchWidget */
.search-widget {
  z-index: 1000;
  padding: 10;
  transform: translate(0, -60);
}

.search-widget__inner {
  background-color: rgba(43, 43, 48, 0.7);
  padding: 2 8;
  justify-content: space-between;
}

.search-widget__input {
  background-color: transparent;
  color: #ffffff;
  placeholder-color: #c0c0d6;
  flex-grow: 1;
}

.search-widget__button {
  height: 32;
}

.search-widget__result {
  background-color: #2c2b30;
}

.search-widget__result-item {
  padding: 0 10;
  width: 100%;
  background-color: #2c2b30;
  color: #ffffff;
  border-bottom-width: 1;
  border-color: #000000;
  vertical-align: center;
  align-items: center;
  height: 42;
}

/* paintingDetail */
.nav-btn {
  height: 15;
}

.tab-view {
  tab-text-color: #ffffff;
  selected-tab-text-color: #FF4545;
  tab-background-color: #2c2b30;
  android-selected-tab-highlight-color: #FF4545;
  font-weight: normal;
  text-transform: none;
}

.painting-title-name, .painting-title-author {
  text-align: center;
  font-size: 16;
}

.painting-title-author {
  padding-top: 1;
  font-size: 13;
}

.fab-button {
  height: 60;
  width: 60;
  margin: 15;
  background-color: #e43a3a;
  horizontal-align: right;
  vertical-align: bottom;
}

.post-item__name, .post-item__desc {
  width: 100%;
  padding: 5;
}

.post-item__name {
  padding-left: 0;
}

.post-item {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
}

.image-view {
  background-color: #000000;
}

.painting-item {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: column;
}

TextField {
  background-color: #ededed;
}

.post-item__desc {
  color: #2c2b30;
}

.post-item__text {
  border-top-width: 1;
  border-top-color: #FF4545;
}

.painting-item__text {
  border-top-color: #FF4545;
  border-top-width: 2;
}

.painting-item__text-bg {
  background-color: rgba(43, 43, 48, 0.7);
}

.painting-item__name {
  font-weight: bold;
  padding: 5;
  padding-right: 0;
}

.painting-item__info {
  padding: 5;
  padding-left: 0;
}

.painting-item__name,
.painting-item__info {
  color: #ffffff;
}

.post-resolved .post-item__text,
.painting-resolved .painting-item__text {
  border-top-color: #1feb3d;
}

.register-button {
  background-color: #ededed;
  color: #c0c0d6;
  border-color: #ededed;
  border-width: 1;
  margin: 15 5 45;
  padding-top: 0;
  padding-bottom: 0;
  height: 40;
}

.input-field {
  border-color: #e43a3a;
  border-width: 1;
  margin-top: 15;
  margin-left: 5;
  margin-right: 5;
  background-color: #ffffff;
}

.submit-button {
  margin-left: 5;
  margin-right: 5;
}

.profile__info {
  border-bottom-color: #2c2b30;
  border-bottom-width: 1;
}

Button {
  /** ALL CAPS **/
  /*text-transform: none;*/
}

TabViewItem {
  /*text-transform: none;*/
}

.add-post__img-btn {
  width: 60;
  max-width: 33%;
  padding: 6;
  margin: 10 5;
  border-radius: 3;
  background-color: rgba(43, 43, 48, 0.7);
}

.filter-section {
  border-top-color: #2c2b30;
  border-top-width: 1;
  padding-top: 15;
  padding-bottom: 15;
}

.search-section {
  padding: 15;
}

.filter-label {
  color: #FF4545;
  text-align: center;
  padding-top: 10;
}

.search-label {
  padding-top: 0;
  padding-bottom: 15;
}

.not-resolved-label {
  color: #FF4545;
  padding: 10;
  padding-bottom: 0;
}

.resolved-label {
  color: #20c843;
  padding: 10;
  padding-bottom: 0;
}

.institution-label, .painting-created-label {
  padding: 10;
  padding-bottom: 0;
}

.painting-text, .painting-perex {
  color: #000000;
  padding-left: 10;
  padding-right: 10;
  padding-top: 10;
}

.painting-text {
  padding-bottom: 10;
}

.activity-indicator, activity-indicator, ActivityIndicator {
  color: #FF4545;
  width: 60;
  height: 60;
  max-width: 60;
  max-height: 60;
  z-index: 1000;
}
