<GridLayout rows="auto,*">

    <StackLayout row="0"  backgroundColor="white" class="profile__info">
        <Label class="h2" [text]="user.username" textAlignment="center"></Label>
        <Label class="p-5" [text]="user.email"  textAlignment="center"></Label>
    </StackLayout>

    <StackLayout row="1" backgroundColor="white">
        <ListView [items]="posts" (itemTap)="postItemTap($event)" separatorColor="#2c2b30" (loaded)="onListViewLoaded($event)">
            <ng-template let-item="item" let-odd="odd">
                <PostItem [post]="item" [odd]="odd"></PostItem>
            </ng-template>
        </ListView>
    </StackLayout>

    <ActivityIndicator row="1" [busy]="loading" class="activity-indicator"></ActivityIndicator>

    <Label row="1" [visibility]="!loading && !posts.length ? 'visible':'collapse'" [text]="'NoPosts'|L"  textAlignment="center"></Label>
</GridLayout>
