<AbsoluteLayout width="100%" height="100%" #mapContainer id="mapContainer">

    <ActivityIndicator class="activity-indicator" top="15" left="15" [busy]="loading" height="30" width="30"></ActivityIndicator>

    <MapSearch [mapView]="mapView"></MapSearch>
    <!-- map -->
    <StackLayout top="0" left="0" width="100%" height="100%">
        <GridLayout rows="*, auto" columns="*">
            <MapView #mapView id="mapView" row="0"
                     [latitude]="lat"
                     [longitude]="lng"
                     [zoom]="zoom"
                     bearing="0"
                     tilt="0"
                     i-padding="50,50,50,50"
                     padding="10,{{selectedPainting?195:10}},5,5"
                     (mapReady)="onMapReady($event)"
                     (markerSelect)="onMarkerEvent($event)"
                     (cameraChanged)="onCameraChanged($event)"></MapView>
        </GridLayout>
    </StackLayout>
    <!--selected -->
    <StackLayout top="0" left="0" width="100%" height="100%" orientation="vertical" verticalAlignment="bottom"
                 [visibility]="selectedMarker ? 'visible' : 'collapse'">
        <FlexboxLayout class="selected-painting" (tap)="goToDetail()"
                       [justifyContent]="selectedMarker ? 'space-between' : 'center'">

            <Image class="selected-painting__icon-close" src="res://close" (tap)="deselect()"
                   [visibility]="selectedMarker ? 'visible' : 'collapse'"></Image>

            <StackLayout class="selected-painting__center">
                <Image [src]="selectedPainting ? selectedPainting.tn : ''" ></Image>
                <StackLayout class="selected-painting__label" width="50%">
                    <Label class="selected-painting__name"
                           [text]="selectedPainting ? selectedPainting.name : ''"></Label>
                    <Label class="selected-painting__info"
                           text="{{selectedPainting&&selectedPainting.authorName?selectedPainting.authorName:('UnknownAuthor'|L)}}{{selectedPainting&&selectedPainting.paintingCreated?', '+selectedPainting.paintingCreated:''}}"></Label>
                    <Label [text]="(selectedPainting&&selectedPainting.resolved&&selectedPainting.resolved!='false'?'ResolvedLabel':'NotResolvedLabel')|L"
                           [class]="selectedPainting&&selectedPainting.resolved&&selectedPainting.resolved!='false'?'resolved-label':'not-resolved-label'"></Label>
                </StackLayout>
            </StackLayout>

            <Image class="selected-painting__icon-right" src="res://right"
                   [visibility]="selectedMarker ? 'visible' : 'collapse'"></Image>
        </FlexboxLayout>
    </StackLayout>


</AbsoluteLayout>
