<StackLayout #searchWidget id="searchWidget" top="0" left="0" width="100%" class="search-widget">
    <FlexboxLayout width="100%" class="search-widget__inner">
        <TextField #searchInput id="searchInput" class="search-widget__input" hint="Zadejte polohu..."
                (textChange)="search($event)"></TextField>
        <Image class="search-widget__button" src="res://close" (tap)="clearSearch()"></Image>
        <Image class="search-widget__button" src="res://search" (tap)="search()"></Image>
    </FlexboxLayout>

    <StackLayout #searchResult id="searchResult" class="search-widget__result" visibility="{{ searchOn && searchItems.length ? 'visible':'collapse'}}">
        <StackLayout class="search-widget__result-item" *ngFor="let item of searchItems" (tap)="resultClick(item)" >
            <Label class="search-widget__result-item-text" [text]="item.description"></Label>
        </StackLayout>
    </StackLayout>
</StackLayout>